@import "../../styles/custom-media.css";
@import '../../styles/custom-properties.css';

/* Sets content to relative and adds padding to root content*/
.root {
  position: relative;
  padding: 2rem 0;
  /* temp value flex to display content in two horiz columns*/
  display: flex;
  /* end temp value. Would be cool to use grid */
  @media (--media-min-medium) {
    padding: 4rem 0;
  }
}

/* Sets fontsize and props to tiny text in label.
Content is set in Image Section - Label
*/
.label {
  font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 1em;
}

/* Adds margin-top to label and title*/
.label + .title {
  margin-top: 0.2em;
}

/* Set fontsize and lineheight to title. Image section - Title
font-title-x value is size from custom-properties.css
*/
.title {
  font-size: var(--font-title1-size);
  line-height: var(--font-title1-line-height);
}

/* Set main values to image. change image in Image -section - Image
*/
.image {
  width: auto;
  max-height: 30rem;
}

/* text content from Image section - Text */
.content {
  position: relative;
  margin: 0 1.5rem;
  max-width: var(--width-medium);


  @media (--media-min-medium) {
    margin: 0 auto;
    padding-top: 2rem;
  }
}

.imageContent {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  .image {

  }
}
/* trying to set column width*/
.textContainer {
  width: 70%;
  
}

/* This is main container for Text section*/
.caption {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  @media (--media-min-medium) {
    max-width: calc(var(--width-small) - 3rem);
  }
}

.captionBox {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  padding: 1.5rem;

  @media (--media-min-medium) {
    max-width: calc((var(--width-large) / 2) - 3rem);
  }
}
